/* @font-face {
    font-family: 'FishOutlined';
    src: url('/fonts/FishOutlined.otf');
}

@font-face {
    font-family: 'FighterFish';
    src: url('/fonts/FighterFish.otf');
}

@font-face {
    font-family: 'BloodThirsty';
    src: url('/fonts/BloodThirsty.ttf');
} */

@font-face {
    font-family: 'Fishy';
    src: url("./fonts/touch-of-nature.regular.ttf");
}

body {
    /* background: linear-gradient(to bottom, red, purple) no-repeat fixed center center/cover; */
    /* background: url(https://i.etsystatic.com/5355453/r/il/4292bd/4369403913/il_fullxfull.4369403913_fkuf.jpg) repeat fixed center center/cover; */
    background: url("./images/bg-main.jpg") repeat fixed center center/cover;
    font-family: 'Fishy', sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("./images/spear_1.svg"), auto;
}

header {
    margin: 0;
    margin-top: 2rem;
}

header h1 {
    text-align: center;
    color: tomato;
    font-size: 8rem;
    font-weight: bolder;
    /* font-family: 'BloodThirsty', sans-serif; */
    font-family: 'Fishy', serif;
    margin: 1rem auto;
}

header h2 {
    text-align: center;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: 100;
    font-variant: small-caps;
    color: skyblue;
    font-family: 'Fishy', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.box {
    /* background-color: rgba(255,0,0,0.6); */
    border-radius: 50%;
    width: 300px;
    aspect-ratio: 1;
    /* border: 16px double white; */
    margin: 1rem;
    cursor: url("./images/spear_1.svg"), auto;

    display: flex;
    place-items: center;
    pointer-events: none;
    /* background-color: tomato; */
}

.active {
    background-color:transparent;
    /* background-image: url('/images/giphy.webp'); */
    background-image: url("./images/fish-cartoon.png");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
  }

/* .box img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    padding: 1rem;
    background-color: transparent; 
}*/

button {
    background-color: #666;
    padding: 8px 16px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    border: aliceblue;
    font-family: 'Fishy', serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: tomato;
}

#startStop {
    display: flex;
    justify-content: center;
}

#stopBtn {
    display: none;
}

#modalOverlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.6);

    display: none;
    place-content: center;
    
}

#modal {
    min-width: 50%;
    min-height: 50%;
    background-color: aliceblue;
    color: #333;
    border-radius: 8px;

    position: absolute;
    display: flex;
    place-self: center;
    background-color: #999;
}

#closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: aliceblue;
    color: #999;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #333;
    
}

#modalContent {
    margin-top: 4rem;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
}

#modalContent h2:first-child {
    font-size: 4rem;
    color: #333;
}

#modalContent h2 {
    font-size: 4rem;
    color: tomato;
}

#modalContent .msg {
    white-space: pre-line;
    font-size: 2rem;
    font-weight: 100;
}

#modalContent img {
    width: 250px;
    aspect-ratio: 1;
    padding: 2rem 1rem;
}



/* MOBILE FRIENDLY APPROACH LANDSCAPE */
@media screen and (orientation: landscape) and (max-width: 1024px) {
    body {
        height: 100vh;
        box-sizing: border-box;
    }

    .container {
        height: 40vh;
    }

    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .active {
        background-size: cover;
    }

    #modal {
        margin: 0 5vw;
        width: 90vw;
    }

    button {
        font-size: 28px;
    }
}


/* MOBILE FRIENDLY APPROACH PORTRAIT */
@media screen and (orientation: portrait) and (max-width: 600px) {
    body {
        height: 100vh;
        box-sizing: border-box;
    }

    .container {
        height: 40vh;
    }

    header h1 {
        font-size: 2rem;
        margin-top: 5rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .active {
        background-size: cover;
    }

    #modal {
        margin: 0 5vw;
        width: 90vw;
    }

    button {
        font-size: 28px;
    }
}