@font-face {
    font-family: 'Fishy';
    src:    url("./fonts/touch-of-nature.regular-webfont.woff2") format('woff2'),
            url("./fonts/touch-of-nature.regular-webfont.woff") format('woff'),
            url("./fonts/touch-of-nature.regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("./images/cursor.svg"), auto;
}

body {
    background: url("./images/bg-main.jpg") repeat fixed center center/cover;
    font-family: 'Fishy', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    margin-top: 2rem;
}

header h1 {
    text-align: center;
    color: tomato;
    font-size: 8rem;
    font-weight: bolder;
    font-family: 'Fishy', serif;
    margin: 1rem auto;
}

header h2 {
    text-align: center;
    color: aliceblue;
    font-size: 2.5rem;
    height: 5rem;
    font-weight: 100;
    font-variant: small-caps;
    color: skyblue;
    font-family: 'Fishy', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.box {
    border-radius: 50%;
    width: 25vw;
    aspect-ratio: 1;
    margin: 1rem;
    cursor: url("./images/cursor.svg"), auto;

    display: flex;
    place-items: center;
    pointer-events: none;
}

.active {
    background-color:transparent;
    /* background-image: url('/images/giphy.webp'); */
    background-image: url("./images/fish-cartoon.webp");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;
  }

button {
    background-color: #666;
    padding: 8px 16px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    border: aliceblue;
    font-family: 'Fishy', serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: tomato;
}

#startStop {
    display: flex;
    justify-content: center;
}

#stopBtn {
    display: none;
}

#modalOverlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.6);

    display: none;
    justify-content: center;
    align-items: center;
    
}

#modal {
    min-width: 50%;
    max-width: 90%;
    margin: 10%;
    min-height: 50%;
    max-height: 90%;
    color: #333;
    border-radius: 8px;

    position: absolute;
    display: flex;
    place-content: center;
    background-color: #999;
}

#closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #999;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #333;
    
}

#modalContent {
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
}

#modalContent h2:first-child {
    margin-top: 5rem;
    font-size: 4rem;
    color: #333;
}

#modalContent h2 {
    font-size: 4rem;
    color: tomato;
}

#modalContent .msg {
    white-space: pre-line;
    font-size: 2rem;
    font-weight: 100;
}

#modalContent img {
    width: 250px;
    aspect-ratio: 1;
    padding: 2rem 1rem;
}

footer {
    text-align: center;
    color: aliceblue;
    margin: 1rem auto;
    margin-bottom: 0;
}

footer a {
    display: block;
    text-decoration: none;
    color: aliceblue;
}

#rules {
    color: aliceblue;
    width: 40%;
    margin: 10vh auto;
}

#rules h1, #rules h2{
    color: aliceblue;
    margin: 5vh auto;
    text-align: center;
}

#rules ul {
    text-align: justify;
    border: 2px solid aliceblue;
    border-radius: 8px;
    padding: 5%;
}

#rules li {
    list-style-type:circle;
    margin: 0.5rem auto;
    margin-left: 2rem;
    font-size: 1rem;
}



/* MOBILE FRIENDLY APPROACH LANDSCAPE */
@media screen and (orientation: landscape) and (max-width: 1024px) {
    body {
        height: 100vh;
        box-sizing: border-box;
    }

    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .active {
        background-size: cover;
    }



    #modal {
        width: 90vw;
        height: 90vh;
    }

    #modalContent {
        margin-top: 5vh;
        width: 90vw;
        height: 90vh;
    }

    #modalContent h2:first-child {
        font-size: 1.75rem;
        margin-top: 2rem;
    }

    #modalContent .msg {
        font-size: 1rem;
    }

    #modalContent img {
        width: 40vh;
        aspect-ratio: 1;
        padding: 0.5rem;
    }

    button {
        font-size: 1rem;
    }

    #modalContent .msg {
        font-size: 0.75rem;
    }

}


/* MOBILE FRIENDLY APPROACH PORTRAIT */
@media screen and (orientation: portrait) and (max-width: 600px) {
    body {
        height: 100vh;
        box-sizing: border-box;
    }

    header h1 {
        font-size: 2rem;
        margin-top: 5rem;
    }

    header h2 {
        font-size: 1rem;
    }
    
    .container {
        margin: 2rem auto;
    }

    .box {
        width: 25vw;
        margin: 0.25rem;
    }

    .active {
        background-size: cover;
    }

    #modal {
        margin: 5%;
        width: 90%;
        max-height: 90%;
    }

    #modalContent {
        margin: 5vh 5vw;
        width: 90vw;
    }

    button {
        font-size: 1rem;
    }

    #modalContent .msg {
        font-size: 1rem;
    }

    #modalContent img {
        width: 50vw;
        aspect-ratio: 1;
        padding: 1rem;
    }

    #rules {
        width: 90%;
        margin: 5vh auto;
    }
}